.container {
  border: red solid 1px;
  display: flex;
  flex-direction: column;
}
.navigation {
  border: green solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.gallery {
  border: blue solid 1px;
}
